apiVersion: v1
kind: Secret
metadata:
    name: dockerhub-credentials
    namespace: mlops-project
type: kubernetes.io/dockerconfigjson
stringData:
    .dockerconfigjson: >-
        {{ {'auths': {'https://index.docker.io/v1/': {'username': docker_user_name, 'password': docker_password, 'auth': docker_registry_auth}}} | to_json }}
