apiVersion: v1
kind: Secret
metadata:
    name: aws-gcp-credentials
    namespace: mlops-project
type: Opaque
stringData:
    AWS_ACCESS_KEY_ID: {{ AWS_ACCESS_KEY_ID | quote }}
    AWS_SECRET_ACCESS_KEY: {{ AWS_SECRET_ACCESS_KEY | quote }}
    AWS_REGION: {{ AWS_REGION | quote }}
    GOOGLE_CLIENT_ID: {{ GOOGLE_CLIENT_ID | quote }}
    GOOGLE_CLIENT_SECRET: {{ GOOGLE_CLIENT_SECRET | quote }}
    GOOGLE_REDIRECT_URI: {{ GOOGLE_REDIRECT_URI | quote }}
    
